@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Light.ttf");
    font-weight: 300;
}

body {
    margin: 0;
    color: #ffffff;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}
section {
	max-width: 1020px;
	margin-left: auto;
    margin-right: auto;
}
h2 {
    margin: 0 10px 20px 0;
    font-size: 3em;
    font-weight: 900;
    color: #666d89;
    letter-spacing: 0;
}
.wrapper {
    padding: 30px 30px;
}
.hidden {
    display: none;
}

/* PORTFOLIO */
.portfolio {
    height: 870px;
    max-height: 870px;
    color: #636983;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio .wrapper {
    position: relative;
    padding-top: 30px;
}
.portfolio .portfolio_descrition{
    font-size: 1.7em;
}
.portfolio__tags {

}
.tag_item {
    display: inline-block;
    padding: 3px 6px;
    margin-right: 5px;
    color: #636983;
    border: 1px solid #666d89;
    border-radius: 4px;
    cursor: pointer;
}
.tag_item:hover,
.tag_item.current {
    color: #dedede;
    border-color: #c5c5c5;
}
.layout-4-column {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 19px;
}
.portfolio_item {
    margin-bottom: 20px;
    width: 220px;
    height: 187px;
}
.portfolio_item:nth-child(1) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(2) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(3) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(4) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(5) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(6) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(7) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(8) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(9) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(10) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(11) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}
.portfolio_item:nth-child(12) {
    background-image: url(./assets/portfolio_item1.png);
    background-repeat: no-repeat;
}

/* ABOUT US */
.about-us {
    background-color: #f2f2f2;
    color: #666d89;
    border-bottom: 6px solid #fff;
}
.about-us__descrition p {

}
.layout-3-column {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 17px;
}
.about-us__profile {
    width: 300px;
}
.profile__photo {
    
}
